[req]
default_bits           = 2048
prompt                 = no
default_md             = sha384
req_extensions         = req_ext
distinguished_name     = req_distinguished_name

[req_distinguished_name]
countryName            = SE
stateOrProvinceName    = Test
organizationName       = Test
organizationalUnitName = TestDept
commonName             = Testing
emailAddress           = test@test.com

[req_ext]
subjectAltName         = @alt_names

[alt_names]
IP.1                   = 0.0.0.0